@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.body {
  background-color: #f6eaf3;
}

/*NAVBAR*/
a {
  text-decoration: none;
}
.navbar {
  transition: all 0.4s;
  background-color: #ffedfb;
  box-shadow: 0 0px 15px #a513a4;
}
.negritanav {
  font-family: kanit;
  font-size: 1em;
  font-weight: bold;
  color: #b13a96;
  padding: 1em;
}
.textonavitem {
  font-family: kanit;
  font-weight: bold;
  font-size: 1em;
  color: #000;
  padding: 1em;
}
.toggler {
  padding: 1em;
  background: #94317d;
  height: 3em;
  width: 3em;
}
.togglericonpadre{
  position: relative;
}
.togglericon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav-item {
  margin: 0 0.5em;
  border-bottom: 2px solid transparent;
}

.nav-link:hover {
  color: #b13a96;
  border-bottom: 2px solid #a71da8;
  transition: all 0.4s ease-in-out;
  
}

.logo img {
  width: 15em;
  margin-bottom: 0px;
  transform: scale(0.5em);
  padding: 0px;
}
/*SLIDER PRINCIPAL*/
.sliderprincipal {
  margin-top: 5em;
  height: 100%;
}
.mujerhiptrust {
  background-image: url('../imagenes/Parejas\ Entrenando.png');
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 70px;
}
.fondoslider {
  background: linear-gradient(to bottom, #b13b96 10%, #111215 90%);
}
.listaslider {
  margin: 3em;
  padding: 0em;
}
.textoslider {
  color: #fff;
  font-family: kanit;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.4em;
}
.botonslider {
  color: #b13a96;
  font-family: kanit;
  font-size: 25px;
  margin: 0.5em;
  margin-top: 0em;
  margin-bottom: 0.7em;
}
.mujersonriente {
  background-image: url('../imagenes/Personal\ REPS.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.sliderfake{
  height: 60vh;
}
@media (max-width: 425px){
  
  .sliderfake{
    height: 60vh;
  }
}

/* NUESTROS PLANES*/
.planes {
  justify-content: center;
  display: flex;
  width: 500px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  align-items: center;
}
.imagenplanes {
  background-image: url('../imagenes/instalacionescortado.png');
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.titulomorado {
  font-family: kanit;
  font-size: 3.5em;
  color: #be199a;
  font-weight: bold;
  margin-top: 0.5em;
}
.margenplanes {
  padding: 1.5em;
  margin-top: 2em;
  padding-top: 0%;
  align-items: center;
  background-color: #F6EAF3;
}
.tarjetaplanes {
  color: #fff;
  font-family: kanit;
  font-size: 1em;
  align-items: center;
  text-align: center;
  background: linear-gradient(to bottom, #dd5ebf 10%, #111215 90%);
  padding: 0em;
  margin: 0em;
  max-width: 20em;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.titulotarjetaplanes {
  text-align: center;
  background-color: #F6EAF3;
  width: 100%;
  height: 100%;
  color: #b13a96;
  padding: 0em;
  margin: 0em;
  font-size: 2em;
  font-weight: bold;
  max-width: 20em;
}
.preciotarjetaplanes {
  font-size: 1.5em;
  padding: 0%;
  margin: 0%;
  background-color: #F6EAF3;
  color: #b13a96;
  font-weight: bold;
}
.margencontenido {
  padding: 1em;
}
.tarjetaplanes a {
  color: #fff;
  font-size: 0.8em;
  position: center;
  font-weight: bold;
}
.botonplanes {
  background-color: #F6EAF3;
  color: #b13a96;
  font-weight: bold;
  width: 100%;
  font-size: 100%;
}
.colorenlace{
  color: #fff;
}
.textotransparente{
  opacity: 2;
}
.BotonOtrosPlanes {
  text-align: center;
  color: #fff;
  background-color: #c91896;
  font-family: kanit;
  font-weight: bold;
  font-size: large;
  margin: 1em;
  padding: 1em 1.5em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  margin-bottom: 2em;
}
/*DESCARGA NUESTRA APP*/
.descarga {
  background-image: url('../imagenes/App.jpg');
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.ordendescarga {
  padding-top: 5em;
  background-color: re;
}
.parrafodescarga {
  font-family: kanit;
  font-size: 1.5em;
  color: #fff;
  line-height: 15px;
  width: 56%;
  line-height: 1.5em;
}
.subrayadodescarga {
  color: #d1d1d1;
}
.titulodescarga {
  font-family: kanit;
  font-size: 3em;
  color: #fff;
}
.descargaladescarga {
  width: 20%;
  padding: 0.4em;
  margin: 0em;
  display: flex;
}
/*valoración ANTROPOMETRICA*/
.parrafovaloración {
  font-family: kanit;
  font-size: 1.5em;
  color: #000;
}

.margenvaloración {
  margin-top: 50px;
}
.infovaloraciónnegrilla {
  font-family: kanit;
  font-size: 135%;
  margin-top: 15px;
  margin: 15px;
}
.infovaloración {
  font-family: kanit;
  line-height: 20px;
  font-size: 100%;
  margin: 0px;
  padding: 10px;
  margin-top: 0%;
  margin-bottom: 55px;
}
.botonesvaloración {
  height: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/*SERVICIOS*/
.servicios {
  background-color: #000000f1;
}
.tituloservicios {
  font-family: kanit;
  font-size: 5em;
  color: #fff;
  padding-top: 0.4em;
}
.parrafoservicios {
  font-family: kanit;
  font-size: 1.6em;
  font-weight: bold;
  color: #fff;
}
.parrafoservicioschiquito {
  font-family: kanit;
  font-size: 1.6em;
  font-weight: light;
  color: #fff;
  padding: 3em;
  padding-top: 0em;
  padding-bottom: 2em;
  text-align: center;
}
.card-body {
  background-color: #ad3993;
  color: #fff;
  font-weight: bold;
  font-family: KANIT;
}

/*FOOTER*/
.FOOTER {
  background: linear-gradient(to bottom, #c51b97 0%, #111215 100%);
  padding: 0em;
}

.logocentrado {
  width: 25em;
  margin: 1.5em;
  margin-bottom: 0em;
}
.titulofooter {
  font-family: kanit;
  font-size: 2.5em;
  color: #f8f9fa;
}
.nombre_sede{
  font-family: kanit;
  font-size: 1.8em;
  color: #f8f9fa;
  font-weight: 500;
}
.negritafooter {
  font-family: kanit;
  font-size: 1.3em;
  color: #f8f9fa;
  text-decoration: inherit;
  cursor: inherit;
}
.direccion_footer{
  font-family: kanit;
  font-size: 1.2em;
  color: #f8f9fa;
  text-decoration: inherit;
  cursor: inherit;
  font-weight: 400;
}
.parrafofooter {
  font-family: kanit;
  font-size: 1em;
  color: #f8f9fa;
}
.descargala {
  width: 50%;
  padding: 0.4em;
  margin: 0em;
}
.centrado_lista{
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconopequeño {
  margin-top: 0%;
  width: 2.5em;
  padding: 0em;
  margin: 0.5em;
  background-color: #F6EAF3;
  width: 50px;
  height: 50px;
  border-radius:100%;
  box-shadow: 0px 0px 0.5px 3px #F6EAF3;
}

.solo_movil {
  display: none;
}
.solo_pc {
  display: initial;
}
/*RESPONSIVE*/
@media (max-width: 991px){

  .textonavitem {
    font-family: kanit;
    font-weight: 500;
    font-size: 1em;
    color: #fff;
    padding: 1em;
  }
}

/*DISPOSITIVOS MEDIANOS*/
@media (max-width: 1024px) {

  .solo_pc {
    display: none;
  }
  .titulomorado {
    font-size: 2em;
  }
  .tituloservicios {
    font-size: 2em;
  }
  .sidebar {
    background-color: #30132e;
    backdrop-filter: blur(10px);
  }
  .logocentrado {
    width: 20em;
    margin: 1.5em;
  }
  .card-mejoras {
    background-color: #f6eaf393;
    backdrop-filter: blur(2px);
    padding: 0.5em;
    flex-direction: column;
    text-align: center;
  }
  .reverse-mejoras {
    flex-direction: column-reverse;
  }
  .imagen-central {
    background-size: 150%;
    background-attachment: fixed;
    overflow: scroll;
  }
  .imagenplanes {
    background-image: url('../imagenes/instalacionescortado.png');
    height: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .descargaladescarga {
    width: 37%;
    padding: 0.4em;
    margin: 0em;
    display: flex;
  }
  .titulofooter {
    font-family: kanit;
    font-size: 2.2em;
    color: #f8f9fa;
  }
  .titulodescarga {
    font-family: kanit;
    font-size: 2.5em;
    color: #fff;
  }
  .parrafodescarga {
    font-family: kanit;
    font-size: 1.2em;
    color: #fff;
    line-height: 15px;
    width: 60%;
    line-height: 1.3em;
  }
  .logo img {
    width: 14em;
    margin-bottom: 0px;
    transform: scale(0.5em);
    padding: 0px;
  }
}
/*DISPOSITIVOS PEQUEÑOS*/
@media (max-width: 480px) {
  /*NavBar*/
  .logo img {
    width: 11em;
    margin-bottom: 0px;
    transform: scale(0.5em);
    padding: opx;
  }
  .sidebar {
    background-color: #30132e;
    backdrop-filter: blur(10px);
  }
  .logocentrado {
    width: 18em;
    margin: 1.5em;
  }
  .imagenplanes {
    background-image: url('../imagenes/instalacionescortado.png');
    height: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .titulodescarga {
    font-family: kanit;
    font-size: 2em;
    line-height: 1.5em;
    color: #fff;
  }
  .descargaladescarga {
    width: 50%;
    padding: 0.4em;
    margin: 0em;
    display: flex;
  }
  .parrafodescarga {
    font-family: kanit;
    font-size: 1.2em;
    color: #fff;
    line-height: 15px;
    width: 100%;
    line-height: 1.2em;
  }
  .titulofooter {
    font-family: kanit;
    font-size: 1.9em;
    color: #f8f9fa;
  }
  .solo_movil {
    display: initial;
  }
  .toggler {
    padding: 1em;
    background: linear-gradient(to bottom, #b13b96 0%, #111215 100%);
    
    height: 2.5em;
    width: 2.5em;
  }
  .titulomorado {
    font-size: 2em;
  }
}

.card-img-top {
  width: 150px;
  height: 150px;
  padding: 2em;
}

.card-mejoras {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em;
  height: 100%;
}

.imagen-central {
  background-image: url('../imagenes/InBody.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 50%;
}

.card-img-service {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: top;
}

.card-servicios {
  background-color: #ad3993;
  color: #fff;
  transition: ease-in-out 0.4s;
}

.card-servicios {
  position: relative;
}

.description {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ad399478;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
  transition: all 0.4s;
}
.linkservicios {
  color: #fff;
}
.card-servicios:hover .description {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}
.TituloTarjetaIndividual {
  font-weight: bolder;
  text-align: center;
  padding: 0.2em;
  font-size: 2em;
}
.lineafooter{
  margin: 5em;
  margin-top: 0em;
  margin-bottom: 3em;
}

/*Estilos Nuestros Planes*/
/*SLider*/
.sliderplanes {
  background: url('../imagenes/Portada\ planes.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  height: 700px;
}
/*Texto Principal*/
.fondotextoplanes {
  background-color: #000;
  padding: 6em;
  padding-top: 0em;
  padding-bottom: 0.2em;
}
.textoprincipal {
  text-align: center;
  color: #fff;
  font-family: kanit;
  padding: 0em;
  padding-bottom: 1.5em;
  padding-top: 0em;
}
.textotamañofuente{
  font-size: 2.5em;
  font-family: "poppins";
  font-weight: bold;
  font-style: italic;

  padding-top: 2.5em;
  line-height: 2em;
}
.textotamañofuentelight{
  font-size: 2em;
  font-family: roboto;
  font-weight: light;
  line-height: 1.5em;
}
.backgroundplanes {
  background-color: #000;
}
.margennuestrosplanes {
  padding: 3em;
  padding-bottom: 2em;
}
.margentarjeta {
  margin-bottom: 3em;
}
.tarjetanuestrosplanes{
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.titulotarjetanuestrosplanes {
  text-align: center;
  background-color: #000;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 0em;
  margin: 0em;
  font-size: 2em;
  font-weight: bold;
  max-width: 20em;
}
hr{
  border: none;
  height: 7px;
  color: #fff;
  background-color: #F6EAF3;
}
.margencontenidoplanes {
  padding: 1em;
  color: #fff;
  font-family: kanit;
  font-size: 1em;
  align-items: center;
  text-align: center;
  background: linear-gradient(to bottom, #c51b97 10%, #111215 90%);
  max-width: 20em;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

}
ul.list-unstyled {
    text-align: center; /* Esto centrará el texto de las listas */
}
.padding_tarjeta{
  padding: 3em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 2em;
}
.aspectos{
  
  justify-content: center;
}
.botonnuestrosplanes {
  background-color: #F6EAF3;
  color: #b13a96;
  font-weight: bold;
  width: 50%;
  font-size: 100%;
  border-radius: 0.3em;
  margin: 0 auto;
  padding: 0.4em;
  line-height: 1.5em;
}
.Disponiblecounter {
  background-color: #F6EAF3;
  color: #b13a96;
  font-weight: bold;
  width: 50%;
  font-size: 0.9em;
  border-radius: 0.3em;
  margin: 0 auto;
  padding: 0.4em;
  line-height: 1.5em;
}
.terminosycondiciones {
  text-align: center;
  font-size: 1em;
  font-weight: lighter;
  color: #fff;
  font-family: kanit;
  padding: 3em;
  padding-bottom: 1em;
  padding-top: 0em;
  margin: 0em;
}
@media (max-width: 2767px) {
  .sliderplanes{
    background: url('../imagenes/Portada\ planes.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  
    height: 100vh;

  }
}
@media (max-width: 1240px) {
  .sliderplanes{
    background: url('../imagenes/Portada\ planes.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  
    height: 750px;
  
  }
}
@media (max-width: 1024px) {
  .sliderplanes {
    background: url('../imagenes/Portada\ planes.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  
    height: 400px;
   
  }
  .fondotextoplanes {
    background-color: #000;
    padding: 2em;
    padding-top: 0em;
    padding-bottom: 0.2em;
    
  }
  .textoprincipal {
    text-align: center;
    color: #fff;
    font-family: kanit;
    padding: 0em;
    padding-bottom: 1.5em;
    padding-top: 0em;
  }
  .textotamañofuente{
    font-size: 2em;
    font-family: "poppins";
    font-weight: bold;
    font-style: italic;
  
    padding-top: 2em;
  }
  .textotamañofuentelight{
    font-size: 1.5em;
    font-family: roboto;
    font-weight: light;
    line-height: 2em;
  }
  .botonnuestrosplanes {
    background-color: #F6EAF3;
    color: #b13a96;
    font-weight: bold;
    width: 50%;
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .sliderplanes {
    background: url('../imagenes/Portada\ planes\ Mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  
    height: 500px;

  }
  .fondotextoplanes {
    background-color: #000;
    padding: 1em;
    padding-top: 0em;
    padding-bottom: 0.2em;
  }
  .textoprincipal {
    text-align: center;
    color: #fff;
    font-family: kanit;
    padding: 0em;
    padding-bottom: 1.5em;
    padding-top: 0em;
  }
  .textotamañofuente{
    font-size: 1.8em;
    font-family: "poppins";
    font-weight: bold;
    font-style: italic;
  
    padding-top: 1.5em;
  }
  .textotamañofuentelight{
    font-size: 1.3em;
    font-family: roboto;
    font-weight: light;
    line-height: 1.5em;
  }
  .botonnuestrosplanes {
    background-color: #F6EAF3;
    color: #b13a96;
    font-weight: bold;
    width: 50%;
    font-size: 1em;
  }
}
/*Estilos Servicios*/
.sliderservicios {
  background: url('../imagenes/Portada\ servicios.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 800px;
  min-width: 100%;
}
.margenservicios {
  padding: 3em;
  padding-top: 1em;
  padding-bottom: 3em;
  background-color: #000;
}
.tituloaspectoservicios {
  color: #c61b98;
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  font-family: kanit;
  padding-bottom: 0.4em;
}
.imagenservicios {
  align-items: center;
  width: 75%;
  background-color: green;
  border-radius: 1em;
  box-shadow: 0px 0px 60px #8c136c
  
}
.primertexto{
  font-size: 2.5em;
  padding-bottom: 0.7em;
}
.segundotexto{
  font-size: 1.5em;
  padding-bottom: 0.7em;
}
.cuartotexto{
  font-size: 1.3em;
  padding-bottom: 1em;
}

.margentextoservicios {
  padding: 2em;
  color: #fff;
}
.margentextoserviciosdescripcion {
  text-align: center;
  font-size: 2em;
  padding: 14%;
  padding-top: 1em;
  padding-bottom: 0em;
  color: #fff;
}
@media (max-width: 1024px) {
  .padding_tarjeta{
    padding: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 2em;
  }
  .sliderservicios {
    background: url('../imagenes/Portada\ servicios.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  
    min-height: 400px;
    min-width: 100%;
  }
  .tituloaspectoservicios {
    color: #c61b98;
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    font-family: kanit;
    padding-bottom: 0.4em;
  }
  .primertexto{
    font-size: 2em;
    padding-bottom: 0.7em;
  }
  .segundotexto{
    font-size: 1.3em;
    padding-bottom: 0.7em;
  }
  .cuartotexto{
    font-size: 1em;
    padding-bottom: 1em;
  }
  .margentextoserviciosdescripcion {
    text-align: center;
    font-size: 1em;
    padding: 9%;
    padding-top: 1em;
    padding-bottom: 0em;
    color: #fff;
  }
}
@media (max-width: 767px) {
  .padding_tarjeta{
    padding: 5em;
    padding-top: 0em;
    padding-bottom: 0em;
  }
}
@media (max-width: 480px) {
  .padding_tarjeta{
    padding: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
  }
  .sliderplanes{
    background: url('../imagenes/Portada\ planes\ Mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  
    height: 500px;
    width: 100%;
  }
  .sliderservicios {
    background: url('../imagenes/Portada\ servicios.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  
    min-height: 300px;
    min-width: 100%;
  }
  .tituloaspectoservicios {
    color: #c61b98;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    font-family: kanit;
    padding-bottom: 0.4em;
  }
  .margentextoserviciosdescripcion {
    text-align: center;
    font-size: 0.5em;
    padding: 5%;
    padding-top: 1em;
    padding-bottom: 0em;
    color: #fff;
  }
}
.iconoredes{
  width: 50px;
  height: 50px;
  background-color: #e65525;
  border-radius:50%;
  box-shadow: 3px 3px 3px #e78267;
}
@media (max-width: 2560px){
  .mujerhiptrust {
    background-image: url('../imagenes/Parejas\ Entrenando.png');
    background-repeat: no-repeat;
    background-size: cover;
  
    min-height: 200px;
  }
  .mujersonriente {
    background-image: url('../imagenes/Personal\ REPS.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}