# Git
.git
.gitignore
.gitattributes

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Node (si existiera)
node_modules
npm-debug.log

# Documentación
README.md
*.md

# Docker
Dockerfile
.dockerignore
docker-compose.yml
